@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

:root {
    --body-font: 1.25em "Teko", sans-serif;
    --header-font: 2em 'Kanit', sans-serif;
    --fade-animation: fadeIn 2s;
    --home-page-img: url("/images/home.JPG") no-repeat center;
    --about-page-img: url("/images/aboutMe.jpeg");
    --experience-page-img: url("/images/experience.jpeg");
}

* {
    box-sizing: border-box;
}

body, a {
    color: #000;
    margin: 0;
    font: var(--body-font);
    animation: var(--fade-animation);
}

.home-image {
    background: var(--home-page-img);
    background-size: cover;
    height: 1200px;
    position: relative;
}

.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font: var(--header-font);
    color: white;
}

.home-h1 {
    font-size: 55px;
}

.home-h2 {
    font-size: 20px;
}
/* --- Drop down style -- */
ul li{
    list-style-type: circle;
}

.grid-container a {
    color: white;
}

details section p {
    text-decoration: underline solid white;
}

/* About Me style */

.about-body {
    color: #FFF;
    margin: 0;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    background-color: #818181;
    background-image:  var(--about-page-img);
    background-size: cover;
    animation: fadeIn 3s;
}

.about-text {
    text-align: center;
    position: absolute;
    top: 7%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 5rem;
}

/* --- CSS Grid Style -- */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: auto;
    height: 100%;
    width: 45%;
    background-color: rgba(0,0,0,.7);
}

.blog-grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    height: 100%;
    width: 70%;
    background-color: rgba(0,0,0,.7);
}

.left-container {
    padding: 20px;
}

.left-container details {
    margin-bottom: 10px;
}

.left-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-container li {
    margin-bottom: 5px;
}

.right-container {
    display: inline;
    grid-gap: 20px 20px;
}

/* ---- Experience Page Styling ---- */
.experience-body {
    color: #FFF;
    margin: 0;
    font: var(--body-font);
    font-size: 20px;
    background-color: #818181;
    background-image: var(--experience-page-img);
    background-size: cover;
    animation: fadeIn 3s;
}

.experience-text {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 5rem;
}
/* ---- Blog Styling ---- */

.blog-body {
    color: #FFF;
    margin: 0;
    font-family: var(--body-font);
    font-size: 20px;
    background-color: #818181;
    background-size: cover;
    animation: fadeIn 3s;
    padding: 20px;
}

.blog-text {
    text-align: center;
    position: absolute;
    top: 0.5%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 4rem;
}

.blog-header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Left column */
.blog-left {
    float: left;
    width: 75%;
}

.blog-right {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.blog-img-one {
    background: url("/images/kirby.jpg") no-repeat center;
    width: 100%;
    padding: 20px;
}

.blog-post {
    font: var(--body-font);
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    font: var(--body-font);
    color: black;
}
/* -------- Icon Styling ------------ */
.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-solid fa-file {
    background: #125688;
    color: white;
    grid-column-end: span 2;
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram {
    background: #125688;
    color: white;
    grid-column-end: span 2;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    grid-column-end: span 2;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
    grid-column-end: span 2;
}

.fa-github {
    background: #000;
    color: white;
    grid-column-end: span 2;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    grid-column-end: span 2;
}
/* ------------------------------------------ */

.side_bar {
    height: 100%;
    width: 0;
    max-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5rem;
}

.side_bar a {
    padding: 1em 0.5em;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side_bar a.active {
    color: white;
}

.side_bar a:hover {
    text-decoration: underline;
    color: #f1f1f1;
}

.side_bar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.25rem;
    margin-left: 1.5em;
}

.fa {
    padding: 1em;
    font-size: 1.5em;
    width: 3em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em;
    transition: opacity 0.3s;
}

.fa:hover {
    opacity: 0.7;
}
/* --------------------------------------------------------------*/
/* Media queries */
@media only screen and (max-width: 1028px) {
    .home-image {
        background: url("/images/home.JPG") no-repeat center;
        background-size: cover;
        height: 1050px;
        position: relative;
    }

    .home-text {
        left: 80%;
        transform: translate(-50%, -50%);
    }

    h1, h2 {
        font-size: 2em;
    }

    .side_bar {
        padding-top: 60px;
        width: 150px;
    }

    .side_bar a {
        font-size: 1.5em;
    }

    .side_bar .closebtn {
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .home-image {
        background: url("/images/home.JPG") no-repeat center;
        background-size: cover;
        height: 680px;
        position: relative;
    }

    .home-text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .home-h1 { font-size: 40px; }
    .home-h2 {font-size: 16px;}

    .about-text {
        font-size: 2.5rem;
        top: 5%;
        left: 75%;
    }

    .blog-left, .blog-right {
        width: 100%;
        padding: 0;
    }

    .side_bar {
        width: 100%;
        max-width: none;
    }

    .side_bar a {
        font-size: 1.25em;
    }

    .side_bar .closebtn {
        font-size: 1.75em;
    }

    .about-grid-container {
        grid-template-columns: 2fr 1fr;
        width: 50%;
        height: 100%;
    }

    .about-left-container {
        padding: 10px;
    }

    .about-right-container {
        padding: 10px;
    }

    .about-right-container a {
        font-size: 16px;
        width: 30px;
    }

    .about-left-container h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .about-left-container p {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .side_bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .home-image {
        background: url("/images/home.JPG") no-repeat center;
        background-size: cover;
        height: 850px;
        position: relative;
    }

    .home-text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-text {
        font-size: 1.5rem;
        top: 2%;
        left: 70%;
    }

    .home-h1 {
        font-size: 30px;
    }

    .home-h2 {
        font-size: 14px;
    }

    .side_bar a {
        padding: 0.5em;
    }

    .about-grid-container {
        width: 100%;
    }

    .about-right-container a {
        font-size: 12px;
        width: 24px;
    }

    .about-left-container h2 {
        font-size: 24px;
    }

    .about-left-container p {
        font-size: 14px;
    }
}