@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
* {
    animation: fadeIn;
    animation-duration: 4s;
} */

body, a {
    color: #000;
    margin: 0;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    animation: fadeIn;
    animation-duration: 3s;
}

.home-image {
    background: url("/images/home.JPG") no-repeat center;
    background-size: cover;
    height: 1200px;
    position: relative;
}

.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 2em;
}

/* About Me style */

.about-body {
    color: #FFF;
    margin: 0;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    background-color: #818181;
    background-image: url("/images/aboutMe.jpeg");
    background-size: cover;
    animation: fadeIn;
    animation-duration: 4s;
}

.about-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
    border: solid aqua;
    width: 75%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

.about-left-container {
    padding: 20px;
}

.about-left-container details {
    margin-bottom: 10px;
}

.about-left-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-left-container li {
    margin-bottom: 5px;
}

.fa {
    padding: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #000;
    color: white;
    grid-row-end: span 2;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    grid-row-end: span 2;
}
/* ------------------------------------------ */

h1, h2 {
    margin: 0;
    font-size: 3em;
}

.side_bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.side_bar a {
    padding: 1em 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side_bar a.active {
    color: white;
}

.side_bar a:hover {
    text-decoration: underline;
    color: #f1f1f1;
}

.side_bar .closebtn {
    position: absolute;
    top: 0;
    right: 1.5em;
    font-size: 2.25em;
    margin-left: 1.5em;
}

.fa {
    padding: 1em;
    font-size: 1.5em;
    width: 3em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em;
    transition: opacity 0.3s;
}

.fa:hover {
    opacity: 0.7;
}
/* Media queries */
@media only screen and (max-width: 1028px) {
    .home-image {
        background: url("/images/home.JPG") no-repeat center;
        background-size: cover;
        height: 1050px;
        position: relative;
    }

    .home-text {
        left: 80%;
        transform: translate(-50%, -50%);
    }

    h1, h2 {
        font-size: 2em;
    }

    .side_bar a {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 768px) {
    .home-image {
        background: url("/images/home.JPG") no-repeat center;
        background-size: cover;
        height: 680px;
        position: relative;
    }

    .home-text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1, h2 {
        font-size: 2em;
    }

    .side_bar a {
        font-size: 1.2em;
    }

    .about-grid-container {
        display: block;
        width: 90%;
        height: auto;
    }

    .about-left-container {
        padding: 10px;
    }

    .about-left-container h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .about-left-container p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .home-image {
        background: url("/images/home.JPG") no-repeat center;
        background-size: cover;
        height: 850px;
        position: relative;
    }

    .home-text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1, h2 {
        font-size: 0.5em;
    }

    .side_bar a {
        padding: 0.5em;
    }

    .about-grid-container {
        width: 100%;
    }

    .about-left-container h2 {
        font-size: 24px;
    }

    .about-left-container p {
        font-size: 14px;
    }
}
